In [1]:
# Import Dependencies
import pandas as pd
import gmaps
import requests
# Import API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-08-04 21:05:38,19.7297,-155.0900,82.13,75,20,10.36
1,1,Geraldton,AU,2021-08-04 21:08:51,-28.7667,114.6000,45.12,81,0,4.61
2,2,Dakar,SN,2021-08-04 21:08:51,14.6937,-17.4441,81.48,84,100,10.85
3,3,Nikolskoye,RU,2021-08-04 21:08:52,59.7035,30.7861,54.01,74,49,2.77
4,4,Miri,MY,2021-08-04 21:08:52,4.4148,114.0089,77.99,87,99,4.12

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-08-04 21:05:38,19.7297,-155.0900,82.13,75,20,10.36
2,2,Dakar,SN,2021-08-04 21:08:51,14.6937,-17.4441,81.48,84,100,10.85
4,4,Miri,MY,2021-08-04 21:08:52,4.4148,114.0089,77.99,87,99,4.12
6,6,Manaus,BR,2021-08-04 21:08:53,-3.1019,-60.0250,82.90,78,75,4.61
7,7,Pochutla,MX,2021-08-04 21:08:53,15.7432,-96.4661,85.82,69,100,5.50
9,9,Padang,ID,2021-08-04 21:07:50,-0.9492,100.3543,76.48,83,100,2.75
11,11,Tual,ID,2021-08-04 21:08:29,-5.6667,132.7500,81.12,76,99,21.21
13,13,Lewisporte,CA,2021-08-04 21:08:54,49.2499,-55.0482,74.55,52,100,4.45
16,16,Kapaa,US,2021-08-04 21:06:36,22.0752,-159.3190,84.52,74,40,4.00
17,17,Shelburne,CA,2021-08-04 21:05:46,44.0787,-80.2041,80.85,45,27,2.04

In [11]:
preferred_cities_df.count()

City_ID       259
City          259
Country       259
Date          259
Lat           259
Lng           259
Max Temp      259
Humidity      259
Cloudiness    259
Wind Speed    259
dtype: int64

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0         Hilo      US     82.13  19.7297 -155.0900
2        Dakar      SN     81.48  14.6937  -17.4441
4         Miri      MY     77.99   4.4148  114.0089
6       Manaus      BR     82.90  -3.1019  -60.0250
7     Pochutla      MX     85.82  15.7432  -96.4661
9       Padang      ID     76.48  -0.9492  100.3543
11        Tual      ID     81.12  -5.6667  132.7500
13  Lewisporte      CA     74.55  49.2499  -55.0482
16       Kapaa      US     84.52  22.0752 -159.3190
17   Shelburne      CA     80.85  44.0787  -80.2041

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,82.13,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Dakar,SN,81.48,14.6937,-17.4441,Redface Studios Meublés
4,Miri,MY,77.99,4.4148,114.0089,"Mega Hotel, Miri"
6,Manaus,BR,82.90,-3.1019,-60.0250,Manaus Hotéis Millennium
7,Pochutla,MX,85.82,15.7432,-96.4661,Hotel Posada San Jose
9,Padang,ID,76.48,-0.9492,100.3543,Mercure Padang
11,Tual,ID,81.12,-5.6667,132.7500,Grand Vilia Hotel
13,Lewisporte,CA,74.55,49.2499,-55.0482,Ocean View Bed & Breakfast
16,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Shelburne,CA,80.85,44.0787,-80.2041,The Retreat at the Farm

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))